// -----------------------------------------------------------------------------
// Basic Styles
// -----------------------------------------------------------------------------
html {
  box-sizing: border-box;
}
//
*,
*::after,
*::before {
  box-sizing: inherit;
}
/**
 * Basic styles for links
 */
body {
  background-color: $mid-grey;
}
/**
 * Basic styles for links
 */
a {
  // color: $brand-color;
  text-decoration: none;
  @include on-event {
    color: $text-color;
  }
}
a:active,
a:visited,
a:focus,
a:hover {
  color: #4C9ED9;
}
