// -----------------------------------------------------------------------------
// Form
// -----------------------------------------------------------------------------
.contact-form {
  max-width: 300px;
  left: 50%;
  margin: 0 auto !important;
}
form {
  padding: 1em 0;
  border-radius: 0.5em;
  background: $light-grey;
  box-shadow: 1em 0 0 $light-grey, -1em 0 0 $light-grey;
}
button:focus {
  outline: none;
}
input {
  border: 1px solid $dark-grey;
  border-radius: 0.2em;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}
input[type=placeholder] {
  margin-left: 1em;
}
input[type=checkbox] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
}
.form-label {
  font-size: 0.5em;
  text-transform: uppercase;
}
.daten {
  display: block;
  margin: 0.7em 0;
  padding-left: 15px;
  text-indent: -15px;
  font-size: 0.6em;
}
input.email {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
//Validation Error
#password-error {
  position: relative;
}
.help-block {
  background-color: lighten($error, 25%);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba($error,0.6);
  color: darken($error, 10%);
  display: none;
  font-size: 12px;
  font-family: 'Helvetica',sans-serif;
  padding: 7px 10px;
  position: absolute;
  width: 200px;
  z-index: 4;
  &:before {
    border-bottom: 7px solid lighten($error, 25%);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: -7px;
    content: '';
    display: block;
    position: absolute;
  }
}
