// -----------------------------------------------------------------------------
// Icons
// -----------------------------------------------------------------------------
input#vorname {
  background-color: pink;
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
#vorname:focus {
  background-image: url("http://rexkirby.com/kirbyandson/images/name.svg");
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
#email {
  background-image: url("http://rexkirby.com/kirbyandson/images/email.svg");
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
#email:focus {
  background-image: url("http://rexkirby.com/kirbyandson/images/email.svg");
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
#comment {
  background-image: url("http://rexkirby.com/kirbyandson/images/comment.svg");
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}
