// -----------------------------------------------------------------------------
// Icons
// -----------------------------------------------------------------------------
/* enable absolute positioning */
.inner-addon {
  position: relative;
}
/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 8px 10px;
  pointer-events: none;
  background-color: $icon-bg;
  border-radius: 3px;
  border: 1px solid $dark-grey;
}
/* align icon */
.left-addon .fa {
  left: 0;
}
.right-addon .fa {
  right: 0;
}
/* add padding  */
.left-addon input {
  padding-left: 50px;
}
.right-addon input {
  padding-right: 50px;
}
.fa-envelope {
  font-size: 15px;
  padding: 12.5px 9px !important;
}
.fa-lock {
  padding: 8px 10.5px !important;
}
.fa-facebook {
  padding-right: 1.5em;
}
